/** @define HomeContent; use strict */

.Home {
  width: 100%;
  height: 100%;
}

.Videos {
  margin: 0 auto;
  width: 98%;
  vertical-align: middle;
}

.CameraPreview {
  box-shadow: 4px 4px 15px 0px rgba(0,0,0,0.75);
  width: 23%;
  margin-right: 2%;
  border-radius: 4px;
  background: #000;
}

.Hidden {
  display: none;
}
